@page {formaction?}/{id:int?}

@inject AppDbContext Db

@functions {
    public async Task OnGetAsync()
    {
        Message = TempData["Message"]?.ToString();
        Customers = await Db.Customers.AsNoTracking().ToListAsync();
    }

    public async Task<IActionResult> OnPostDeleteAsync(int id)
    {
        var customer = await Db.Customers.FindAsync(id);

        if (customer != null)
        {
            Db.Customers.Remove(customer);
            await Db.SaveChangesAsync();
        }

        TempData["Message"] = $"Customer {id} deleted successfully";
        //Message = $"Customer {id} deleted successfully";

        return Redirect("~/customers/nopagemodels/");
    }

    public Customer Customer { get; }

    public IList<Customer> Customers { get; private set; }

    [TempData]
    public string Message { get; set; }

    public bool ShowMessage => !string.IsNullOrEmpty(Message);
}

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>
<p>
    <div asp-if="ShowMessage" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Message
    </div>
</p>
<form method="post" asp-antiforgery="true">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Customer.Id)</th>
                <th>@Html.DisplayNameFor(m => m.Customer.Name)</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
                <td colspan="3">No customers yet.</td>
            </tr>
            @foreach (var customer in Customers)
            {
                <tr>
                    <td>@Html.DisplayFor(_ => customer.Id)</td>
                    <td>@Html.DisplayFor(_ => customer.Name)</td>
                    <td>
                        <a href="edit/@customer.Id" class="btn btn-xs btn-primary">edit</a>
                        <button type="submit" formaction="delete/@customer.Id" class="btn btn-xs btn-danger">delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="new" class="btn btn-sm btn-success">Create</a>
</form>